[access]
	inheritFrom = Private-Projects
[submit]
[access "refs/*"]
	owner = group user/Ivan Appel (geekyfox)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ivan Appel (geekyfox)
	label-Verified = -1..+1 group user/Ivan Appel (geekyfox)
	push = group user/Ivan Appel (geekyfox)
	read = group user/Ivan Appel (geekyfox)
	rebase = group user/Ivan Appel (geekyfox)
	removeReviewer = group user/Ivan Appel (geekyfox)
	submit = group user/Ivan Appel (geekyfox)
[access "refs/heads/*"]
	create = group user/Ivan Appel (geekyfox)
	push = +force group user/Ivan Appel (geekyfox)
	pushMerge = group user/Ivan Appel (geekyfox)
	read = group user/Ivan Appel (geekyfox)
[access "refs/tags/*"]
	push = group user/Ivan Appel (geekyfox)
	push = +force group user/Ivan Appel (geekyfox)
[project]
	state = hidden
